<div class="social-media-links">
    <a class="link social-media-link" href="https://github.com/Raifiki?tab=repositories" target="_blank">
        <img src="assets/icons/socialMedia/GitHub_logo.svg" alt="GitHub-Logo">
    </a>
    <a class="link social-media-link" href="#contact-section">
        <img src="assets/icons/socialMedia/eMail_logo.svg" alt="eMail-Logo">
    </a>
    <a class="link social-media-link" href="https://www.linkedin.com/in/leonard-wei%C3%9F-0466752b6/" target="_blank">
        <img src="assets/icons/socialMedia/LinkedIn_logo.svg" alt="LinkIn-Logo" target="_blank">
    </a>
</div>
