<header>
    <a href="#section-landing-page" (click)="setActiveTab('')">
        <img src="assets/images/logo_w_bg.png" alt="">
    </a>
    <nav>
        <a class="link navbar-link " (click)="setActiveTab('aboutMe')" [class.active]="activeTab == 'aboutMe'" href="#section-about-me">About me <hr></a>
        <a class="link navbar-link " (click)="setActiveTab('skills')" [class.active]="activeTab == 'skills'" href="#section-my-skills">Skills <hr></a>
        <a class="link navbar-link " (click)="setActiveTab('portfolio')" [class.active]="activeTab == 'portfolio'" href="#portfolio-section">Portfolio <hr></a>
    </nav>
</header>
