@import './../../styles/globelStyles.scss';

header{
    padding: $dim-large $dim-hompage-side;
    @include flex($jc: space-between);
    width: min(100vw,$dim-max-content-size);
    >a img{
        width: 350px;
        height: 60px;
        @media (max-width: 700px){
            width: 250px;
        }
    }
    > nav{
        @include flex($g: $dim-large);
    }

    @media (max-width: 1250px){
        padding: $dim-large $dim-extralarge;
    }
    @media (max-width: 700px){
        padding: $dim-large $dim-large;
    }

    > img{
        cursor: pointer;
    }
}

.navbar-link{
    font-size: $fnt-size-23;
    @include hoverTransition();
    &:hover{
        color: $prim-color-green;
        @include hoverTransition();
    }
    >hr{
        margin: 0;
        margin-top: 5px;
        width: 55px;
        border: solid transparent 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.navbar-link.active{
    color: $prim-color-green;
    >hr{
        border: solid $sec-color-purple 2px;
    }
}

.navbar-link-mobile{
    @extend .navbar-link;
    &:active{
        color: $prim-color-green;
        > hr{
            border: solid $sec-color-purple 2px;
        }
    }
}

#menu-overlay-mobile{
    position: absolute;
    left: 100%;
    top: 130px;
    @include flex();
    width: 100%;
    height: calc(100vh - 130px);
    background-color: $bg-color-light;
    >div{
        position: relative;
        left: 70%;
        @include hoverTransition();
        @include flex($fd: column, $g: $dim-large, $ai: flex-start)
    }
}

.show-mobile-menu{
    left: 0 !important;
    >div{
        left: 0% !important;
        @include hoverTransition();
    }
}

.hide-imprint{
    display: none !important;
}
