<section id="contact-section">
    <div class="offset" id="anchor-contact"></div>
    <div id="contact-headline">
        <div id="vertical-line"></div>
        <h2>{{ sectionText.HL }}</h2>
    </div>
    <div id="contact-content">
        <div>
            <h3>{{ sectionText.subHL }}</h3>
            <span>{{ sectionText.description1 }}</span>
            <span>{{ sectionText.description2 }} <b>{{ sectionText.description3 }}</b></span>
        </div>
        <app-contact-form></app-contact-form>
    </div>
    <a href="#section-landing-page"><button class="btn go-up-btn"></button></a>
    <img id="bg-img-purple-3" src="assets/images/background/bg_img_purple_3.svg" alt="">
</section>
