@import './../shared/styles/globelStyles.scss';

#section-about-me{
    position: relative;
    padding-top: calc($dim-extralarge * 2);
    padding-bottom: calc($dim-extralarge * 2);
    padding-left: $dim-hompage-side;
    @include flex($g: calc($dim-extralarge * 3));
}

#about-me-text-wrapper{
    @include flex($fd: column, $g: $dim-large,$ai: flex-start);
}

.about-me-text-introduction{
    @include flex($g: $dim-large);
    padding-left: $dim-large;
    >img{
        width: 50px;
        &:hover{
            transform: scale(1.3);
            @include hoverTransition();
        }
    }
}

#about-me-profile-image-wrapper{
    @include flex($g:0);
    >#vertical-line{
        @include verticalLine($w: 200px, $br: unset);
    }
}

#about-me-profile-image{
    width: 450px;
    aspect-ratio: 1;
    border: 4px solid $prim-color-green;
    border-radius: 50%;
}