<section id="section-about-me">
    <div id="about-me-text-wrapper">
        <h2>About me</h2>
        <span>Hi, I am Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequatur officia quidem repudiandae ratione nam odio, optio rerum distinctio vero quibusdam aliquam quos voluptatem sint voluptate, recusandae, aspernatur nulla mollitia.</span>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/bulb.svg" alt="bulb-img">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit similique soluta nostrum distinctio, quibusdam incidunt nobis mollitia adipisci quisquam voluptatem provident tempora facere exercitationem nulla iusto omnis maiores obcaecati?</span>
        </div>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/puzzle.svg" alt="puzzle-img">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. At laudantium ullam eaque inventore magnam! Blanditiis sit voluptas magni molestiae quisquam quibusdam fugiat harum nihil modi adipisci in mollitia, temporibus voluptatibus.</span>
        </div>
    </div>
    <div id="about-me-profile-image-wrapper" class="hide-mobile">
        <img id="about-me-profile-image" src="assets/images/profile/profile_photo.png" alt="profile-img">
        <div id="vertical-line"></div>
    </div>
</section>
