<section id="section-my-skills">
    <a href="#contact-section" class="hide-desktop">
        <button class="btn prim-btn">Get in touch</button>
    </a>
    <div id="my-skills-skills-wrapper">
        @for (skill of skills; track skill)
            {<app-skill [skill] = "skill"></app-skill>}
    </div>
    <div id="my-skills-introduction-wrapper">
        <div id="my-skills-text-wrapper">
            <h2>My skills</h2>
            <span>I have gained experience in building projects with various front end technologies and concepts.</span>
            <a href="#contact-section" class="hide-mobile">
                <button class="btn prim-btn">Get in touch</button>
            </a>
        </div>
        <div id="vertical-line"></div>
    </div>
    <img id="bg-img-green-1" src="assets/images/background/bg_img_green_1.svg" alt="">
</section>
