<section id="contact-section">
    <div id="contact-headline">
        <div id="vertical-line"></div>
        <h2>Contact</h2>
    </div>
    <div id="contact-content">
        <div>
            <h3>Got a problem to solve?</h3>
            <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <app-contact-form></app-contact-form>
    </div>
    <button class="btn go-up-btn"></button>
</section>
