@import './../shared/styles/globelStyles.scss';

#contact-section{
    position: relative;
    @include flex($fd: column, $ai: flex-start);
    margin-top: $dim-section-distance;
    padding-bottom: $dim-section-distance;
    >#contact-headline{
        @include flex($g: 36px);
        >#vertical-line{
            @include verticalLine($w: $dim-extralarge, $clr: $sec-color-purple, $br: 'right');
        }
    }
    >a{
        align-self: flex-end;
        margin-right: $dim-hompage-side;
    }
}

#contact-content{
    @include flex($g: calc($dim-extralarge * 3), $jc: space-between, $ai: flex-start);
    padding: $dim-extralarge $dim-hompage-side;
    width: 100%;
    >div{
        @include flex($fd: column, $ai: flex-start, $g: $dim-medium);
        width: 35%;
        >h3{
            margin-bottom: $dim-small;
        }
    }
    >app-contact-form{
        flex-grow: 2;
        z-index: 2;
    }
    @media (max-width: 1250px){
        flex-direction: column;
        padding: $dim-extralarge $dim-extralarge;
        gap: $dim-extralarge;
        >div{
            width: 100%;
        }
        >app-contact-form{
            width: 100%;
        }
    }
    @media (max-width: 1250px){
        padding: $dim-extralarge $dim-large;
    }
}

.go-up-btn{
    width: 40px;
    padding: 0;
    aspect-ratio: 1;
    @include setImgMask('./../../assets/icons/hompageNavigation/go-up-button.svg');
    &:hover{
        background-color: $prim-color-green;
        @include hoverTransition();
    }
}

#bg-img-purple-3{
    position: absolute;
    bottom: -300px;
    left: -200px;
    width: 600px;
    transform: rotate(-90deg) scaleX(-1);
    z-index: 0;
}