<section id="section-about-me">
    <div class="offset" id="anchor-about-me"></div>
    <div id="about-me-text-wrapper">
        <h2>{{ sectionText.HL }}</h2>
        <span>{{ sectionText.paragraph1 }}</span>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/bulb.svg" alt="bulb-img">
            <span>{{ sectionText.paragraph2 }}</span>
        </div>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/puzzle.svg" alt="puzzle-img">
            <span>{{ sectionText.paragraph3 }}</span>
        </div>
    </div>
    <div id="about-me-profile-image-wrapper" class="hide-mobile">
        <img id="about-me-profile-image" src="assets/images/profile/profile_img_side.png" alt="profile-img">
        <div id="vertical-line"></div>
    </div>
</section>
