<section id="section-about-me">
    <div id="about-me-text-wrapper">
        <h2>About me</h2>
        <span>Hey, I'm Leo Weiß, and after 7 years in power electronics development, I've decided to dive into the world of software. I've always been passionate about coding, which led me to successfully transition to frontend development through the Developer Academy. During this part-time training, I worked on individual and team projects, honing my skills in HTML, CSS, and JavaScript. Interested? You can find all my abilities and top projects listed below.</span>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/bulb.svg" alt="bulb-img">
            <span>What excites me about software development is the ability to quickly and affordably bring a project to life from an idea. Additionally, I thrive on problem-solving and learning new technologies, which aligns perfectly with the dynamic nature of the software world.
            </span>
        </div>
        <div class="about-me-text-introduction">
            <img src="assets/icons/hompageNavigation/puzzle.svg" alt="puzzle-img">
            <span>I'm eager to put my skills into practice and am actively seeking new projects and challenges. As the software landscape is ever-evolving, I look forward to embracing and applying new technologies. If I've piqued your interest, I'd love to hear from you! Feel free to reach out below :-).
            </span>
        </div>
    </div>
    <div id="about-me-profile-image-wrapper" class="hide-mobile">
        <img id="about-me-profile-image" src="assets/images/profile/profile_img_side.png" alt="profile-img">
        <div id="vertical-line"></div>
    </div>
</section>
