<form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
    <div class="form-field">
        <div 
        class="form-input-field" 
        [ngClass] = "{
            'input-data-empty': formName.untouched,
            'input-data-valid': formName.touched && formName.valid,
            'input-data-invalid': formName.touched && formName.invalid}">
            <input 
                class="form-input" 
                type="text" 
                name="name" 
                id="contact-form-name"
                placeholder="Your name"
                [(ngModel)] = "formData.name"
                #formName="ngModel"
                required>
            <div class="form-ipt-validation-img"></div>
        </div>
        @if(formName.touched && formName.invalid){<div class="form-ipt-error-text">Your name is required</div>}
    </div>
    <div class="form-field">
        <div 
        class="form-input-field" 
        [ngClass] = "{
            'input-data-empty': formEmail.untouched,
            'input-data-valid': formEmail.touched && formEmail.valid,
            'input-data-invalid': formEmail.touched && formEmail.invalid}">
            <input 
                class="form-input" 
                type="email" 
                name="email" 
                id="contact-form-email"
                placeholder="Your email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                [(ngModel)] = "formData.email"
                #formEmail="ngModel"
                required>
            <div class="form-ipt-validation-img"></div>
        </div>
        @if(formEmail.touched && formEmail.invalid){<div class="form-ipt-error-text">Your email is required</div>}
    </div>
    <div class="form-field">
        <div 
        class="form-input-field" 
        [ngClass] = "{
            'input-data-empty': formMsg.untouched,
            'input-data-valid': formMsg.touched && formMsg.valid,
            'input-data-invalid': formMsg.touched && formMsg.invalid}">
            <textarea 
                class="form-input" 
                name="message" 
                id="contact-form-message" 
                placeholder="Your message"
                cols="30" 
                rows="8"
                [(ngModel)] = "formData.message"
                #formMsg="ngModel"
                required></textarea>                
            <div class="form-ipt-validation-img"></div>
        </div>
        @if(formMsg.touched && formMsg.invalid){<div class="form-ipt-error-text">Your message is empty</div>}
    </div>
    <div class="form-field">
        <div class="form-checkbox-field">
            <div class="custom-checkbox">
                <input 
                    type="checkbox" 
                    name="privacypolicy" 
                    id=""
                    [(ngModel)] = "formData.privacypolicy"
                    #formPrivacyPolicy="ngModel"
                    required>
            </div>
            <div>
                <span>I've read the </span>
                <a class="link" href="">privacy policy</a>
                <span> and agree to the processing of my data as outlined.</span>
            </div>
        </div>
        @if(formPrivacyPolicy.touched && formPrivacyPolicy.invalid){<div class="form-ipt-error-text">Please accept the privacy policy.</div>}
    </div>
    <button
        id="submitBtn"
        type="submit" 
        class="btn" 
        [ngClass]="{
            'prim-btn': contactForm.valid,
            'btn-disabled': contactForm.invalid
        }">
        @if(playSendEmailAnimation){
            <div id="sendAnimation">
                <span>Thank you!</span>
                <img src="assets/icons/socialMedia/eMail_logo.svg" alt="email">
                <div></div>
            </div>
        }
        <span>Send message :)</span>
    </button>
</form>
