@import './../../shared/styles/globelStyles.scss';

form{
    @include flex($fd: column, $g: $dim-large);
    width: 100%;
}

.form-field{
    @include flex($fd: column, $ai: flex-start);
    width: 100%;
    >.form-ipt-error-text{
        font-size: $fnt-size-14;
        color: $error-color-red;
    }
}

.form-input-field{
    @include flex($ai: flex-start);
    width: 100%;
    border: 1px solid $sec-color-purple;
    padding: 15px 25px;
    border-radius: 10px;
    >input, textarea{
        flex-grow: 2;
        font-size: $fnt-size-16-default;
        font-family: 'Poppins';
        resize: none;
    }
    >input{
        height: 25px;
    }
    >.form-ipt-validation-img{
        width: 25px;
        border-radius: 50%;
        aspect-ratio: 1;
    }
}

.form-input{
    border: none;
    padding: none;
    color: $txt-color-white;
    outline: none;
    background-color: transparent;
}

.input-data-empty{
    border-color: $sec-color-purple;
    &:hover{
        border-color: $prim-color-green;
        @include hoverTransition();
    }
    &:focus-within{
        border-color: $prim-color-green;
        background-color: $bg-color-light;
    }
}

.input-data-valid{
    border-color: $prim-color-green;
    >.form-ipt-validation-img{
        background-color: $prim-color-green;
        border-radius: 50%;
        @include setImgMask('./../../../assets/icons/hompageNavigation/form-validation-correct.svg');
    }
    &:focus-within{
        background-color: $bg-color-light;
    }
}

.input-data-invalid{
    border-color: $error-color-red;
    >.form-ipt-validation-img{
        background-color: $error-color-red;
        @include setImgMask('./../../../assets/icons/hompageNavigation/form-validation-error.svg');
    }
    &:focus-within{
        background-color: $bg-color-light;
    }
}

.form-checkbox-field{
    position: relative;
    @include flex($ai:flex-start,$g: $dim-medium);
    a{
        color: $sec-color-purple;
        &:hover{
            text-decoration: underline;
            @include hoverTransition();
        }
    }
}

#submitBtn{
    position: relative;
    >#sendAnimation{
        position: absolute;
        right: 0;
        top: 0;
        @include flex($g: $dim-medium);
        width: 100%;
        height: 100%;
        transform: scale(1.15);
        background-color: $prim-color-green;
        border-radius: 10px;
        >img{
            position: relative;
            width: 35px;
            aspect-ratio: 1;
            background-color: $prim-color-green;
            border-radius: 50%;
            animation: sendEmailAnimationIcon 1s 1 ease-in-out;
        }
        >div{
            position: absolute;
            left: 85%;
            width: 10%;
            height: 80%;
            background-color: $prim-color-green;
            animation: sendEmailAnimationBox 1s 1 ease-in-out;
        }
    }
}

@keyframes sendEmailAnimationIcon{
    0% {left:-155px}
    100% {left: 0}
}
@keyframes sendEmailAnimationBox{
    0% {left:19%; width:80%}
    100% {left: 85%; width: 10%}
}