@import './../../../shared/styles/globelStyles.scss';

.portfolio-project-wrapper{
    position: relative;
    z-index: 2;
    >img{
        max-width: min(100%,620px);
    }
    >div{
        @include flex($fd: column,$g: $dim-medium);
        >h3{
            color: $sec-color-purple;
        }
        >.project-technologies{
            color: $prim-color-green;
        }
        >div{
            @include flex($g: 90px);
            margin-top: $dim-medium;
            @media (max-width: 700px){
                gap: $dim-large;
            }
        }
        @media (max-width: 1250px){
            align-items: center !important;
            max-width: 620px;
        }
    }
}

.portfolio-project-img-left{
    @include flex();
    >div{
        align-items: flex-start;
    }
    @media (max-width: 1250px){
        flex-direction: column;
        text-align: center !important;
    }
}

.portfolio-project-img-right{
    @include flex($fd: row-reverse);
    >div{
        align-items: flex-end;
        text-align: end;
    }
    @media (max-width: 1250px){
        flex-direction: column;
        >div .text-align {
            text-align: center !important;
        }
    }
}