<section id="section-impressum">
    <div id="impressum-HL">
        <h2>{{ sectionText.HL }}</h2>
        <a routerLink="/"><button class="btn go-back-btn" ></button></a>
    </div>
    <div id="impressum-content">
        <h3>{{ sectionText.subHL }}</h3>
        <div id="impressum-adresse">
            <span>Leonard Weiß</span>
            <span>Laichlestraße 23</span>
            <span>70839 Gerlingen</span>
        </div>
        <h3>{{ sectionText.contact }}</h3>
        <div class="impressum-contact-element">
            <span>{{ sectionText.phone }}</span>
            <a class="link" href="tel:+491735140990">+49 155 600 153 41</a>
        </div>
        <div class="impressum-contact-element">
            <span>e-Mail:</span>
            <a class="link" href="mailto:leonard_weiss@web.de">kontakt&#64;leonard-weiss.com</a>
        </div>
    </div>
</section>
