<section id="section-impressum">
    <div id="impressum-HL">
        <h2>Imprint</h2>
        <a routerLink="/"><button class="btn go-back-btn" ></button></a>
    </div>
    <div id="impressum-content">
        <h3>Angaben gemäß § 5 TMG</h3>
        <div id="impressum-adresse">
            <span>Leonard Weiß</span>
            <span>Laichlestraße 23</span>
            <span>70839 Gerlingen</span>
        </div>
        <h3>Kontakt</h3>
        <div class="impressum-contact-element">
            <span>Telefon:</span>
            <a class="link" href="tel:+491735140990">+49 173 514 0990</a>
        </div>
        <div class="impressum-contact-element">
            <span>e-Mail:</span>
            <a class="link" href="mailto:leonard_weiss@web.de">leonard_weiss&#64;web.de</a>
        </div>
    </div>
</section>
