@import './../shared/styles/globelStyles.scss';

#portfolio-section{
    position: relative;
    @include flex($fd: column,$g: $dim-extralarge);
    padding-left: $dim-hompage-side;
    padding-right: $dim-hompage-side;
    margin-top: $dim-section-distance;

    @media (max-width:1250px){
        padding-left: $dim-extralarge;
        padding-right: $dim-extralarge;
    }
    @media (max-width:700px){
        padding-left: $dim-large;
        padding-right: $dim-large;
    }
}

#portfolio-headline-wrapper{
    @include flex($fd: column);
    width: 100%;
    >div{
        position: relative;
        @include flex();
        width: 100%;
        >h2{
            z-index: 2;
            background-color: $bg-color-dark;
            padding: $dim-medium $dim-extralarge;

            @media (max-width: 1400px){
                padding: $dim-medium $dim-medium;
            }
        }
        >#vertical-line{
            position: absolute;
            top: 50%;
            right: -$dim-hompage-side;
            @include verticalLine($w: 85%, $clr: $sec-color-purple);
            
            @media (max-width:1250px){
                right: -$dim-extralarge;
                width: 90%;
            }
            @media (max-width:700px){
                right: -$dim-large;
            }
        }
    }
}

#portfolio-project-list{
    @include flex($fd: column, $g: $dim-extralarge);
}

#bg-img-purple-2{
    position: absolute;
    top: 45%;
    left: -150px;
    width: 800px;
    z-index: 0;
}

#bg-img-green-1{
    position: absolute;
    bottom: -300px;
    right: -600px;
    transform: rotate(75deg);
    width: 1000px;
    z-index: 0;
}