@import './../shared/styles/globelStyles.scss';

#portfolio-section{
    @include flex($fd: column,$g: $dim-extralarge);
    padding-left: $dim-hompage-side;
    padding-top: calc($dim-extralarge * 2);
    padding-bottom: calc($dim-extralarge * 2);
}

#portfolio-headline-wrapper{
    @include flex($fd: column);
    width: 100%;
    >div{
        position: relative;
        @include flex();
        width: 100%;
        >h2{
            z-index: 2;
            background-color: $bg-color-dark;
            padding: $dim-medium $dim-extralarge;
        }
        >#vertical-line{
            position: absolute;
            top: 50%;
            right: 0;
            @include verticalLine($w: 80%, $clr: $sec-color-purple);
        }
    }
}

#portfolio-project-list{
    @include flex($fd: column, $g: $dim-extralarge);
    padding-right: $dim-hompage-side;
}