@import 'shared/styles/globelStyles.scss';


app-header{
    position: fixed;
    top: 0;
    left: 0;
    @include flex();
    background-color: $bg-color-dark;
    width: 100%;
    z-index: 10;
}

app-footer{
    position: absolute;
    left: 0;
    @include flex();
    background-color: $bg-color-dark;
    background-color: $bg-color-dark;
    width: 100vw;

    @media (max-width:1250px){
        left: unset;
    }

}

app-portfolio-page{
    @include flex($fd: column);
    width: min(100vw,$dim-max-content-size);
}