$bg-color-dark: rgba(20,29,47,1);
$bg-color-light: rgba(65,72,86,1);
$prim-color-green: rgba(112, 230, 28, 1);
$sec-color-purple: rgba(151, 71, 255, 1);
$acc-color-lightblue: rgba(28, 218, 230, 1);

$error-color-red: rgba(230,28,64,1);

$txt-color-white: rgba(255,255,255,1);



