/* distances */
$dim-small: 8px;
$dim-medium: 16px;
$dim-large: 32px;
$dim-extralarge: 64px;

$dim-hompage-side: 100px;
$dim-max-content-size: 1500px;
$dim-section-distance: calc($dim-extralarge * 3);

/* font-size*/

$fnt-size-11: 0.688rem;
$fnt-size-14: 0.875rem;
$fnt-size-16-default: 16px;
$fnt-size-23: 1.438rem;
$fnt-size-32: 2rem;
$fnt-size-45: 2.812rem;
$fnt-size-64: 4rem;
$fnt-size-90: 5.625rem;