@import 'colors.scss';
@import 'mixins.scss';
@import 'dimensions.scss';

$hover-transition-time: 150ms;

.center-pos-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



