@mixin flex($fd: row,$ai: center,$jc: center,$g: 8px){
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
    gap: $g;
}

@mixin hoverTransition($t: $hover-transition-time){
    transition: all $t linear;
}

@mixin verticalLine($w: $dim-hompage-side, $clr: $prim-color-green, $br: left){
    width: $w;
    background-color: $clr;
    height: 4px;
    @if $br == left {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    } @else if $br == right {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
    }
}