@import './../../styles/globelStyles.scss';

footer{
    position: relative;
    z-index: 2;
    background-color: $bg-color-dark;
    @include flex($jc: space-between);
    padding: $dim-extralarge $dim-hompage-side;
    border-top: 2px solid $prim-color-green;
    width: min(100vw,$dim-max-content-size);
    >div{
        @include flex($fd: column, $ai: flex-start);
        .logo{
            width: 350px;
            height: 60px;
        }
    }
    >span{
        font-size: $fnt-size-23;
    }
    @media (max-width:1250px){
        flex-direction: column;
        gap: $dim-large;
        padding: $dim-extralarge $dim-extralarge;
    }

    @media (max-width:700px){
        padding: $dim-extralarge $dim-large;
        >div .logo{
            width: 250px;
        }
    }
}

.impressum{
    >hr{
        margin: 0;
        width: 55px;
        border: solid transparent 1px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    &:hover > hr{
        border-color: $acc-color-lightblue;
        @include hoverTransition();
    }
}