@import './../shared/styles/globelStyles.scss';

#section-my-skills{
    position: relative;
    @include flex($g: $dim-extralarge, $jc: space-between);
    padding-left: $dim-hompage-side;
    padding-top: calc($dim-extralarge * 2);
    padding-bottom: calc($dim-extralarge * 2);

    > a{
        margin-top: $dim-large;
    }

    @media (max-width:1000px){
        flex-direction: column-reverse;
        padding-left: $dim-large;
    }
}

#my-skills-skills-wrapper{
    @include flex($g:54px 123px, $jc: flex-start);
    flex-wrap: wrap;
    flex-grow: 2;
    @media (max-width:1000px) {
        justify-content: center;
    }
}

#my-skills-introduction-wrapper{
    @include flex($g: $dim-extralarge);
    width: 1600px;
    >#vertical-line{
        @include verticalLine($clr: $sec-color-purple);
        align-self: flex-start;
        margin-top: $dim-extralarge;
    }
    @media (max-width:1000px){
        width: unset;
    }
}

#my-skills-text-wrapper{
    @include flex($fd: column, $g: $dim-large, $ai: flex-end);
    >span{
        text-align: right;
    }
    >a {
        align-self: center;
        margin-top: $dim-large;
    }
}

#bg-img-green-1{
    position: absolute;
    top: 27%;
    left: -650px;
    transform: rotate(180deg) scaleX(-1);
    width: 1000px;
    z-index: 0;
}