<section id="section-landing-page">
    <div id="landing-page-introduction">
        <div id="landing-page-wrapper-profile-img">
            <img id="landing-page-profile-img" src="assets/images/profile/profile_img_front.png" alt="profile-img">
        </div>
        <div id="landing-page-wrapper-introduction-text">
            <div id="landing-page-wrapper-text">
                <span>I am</span>
                <div>
                    <span id="landing-page-name">Leonard Weiß</span>
                    <span id="landing-page-developer">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <a href="#contact-section">
                <button class="btn prim-btn">Lets talk!</button>
            </a>
        </div>
    </div>
    <div id="landing-page-footer">
        <div id="landing-page-contact">
            <div id="vertical-line"></div>
            <app-social-media-accounts></app-social-media-accounts>
            <a class="link hide-mobile" href="#contact-section">leonard_weiss&#64;web.de</a>
        </div>
        <div id="landing-page-scroll-down-navigation" class="hide-mobile">
            <span>Scroll down</span>
            <img src="assets/icons/hompageNavigation/arrow-down-line.svg" alt="arrow-right">
        </div>
    </div>
    <img id="bg-img-transition" src="assets/images/background/bg_img1.svg" alt="bg-img1">
    <img id="bg-img-purple-1" src="assets/images/background/bg_img_purple_1.svg" alt="">
</section>
