@import './../shared/styles/globelStyles.scss';

#section-landing-page{
    @include flex($fd: column, $ai: unset, $g:0);
    height: 100vh;
    padding: 130px $dim-hompage-side 0 $dim-hompage-side;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1250px) {
        padding: 130px $dim-extralarge 0 $dim-extralarge;
        gap: $dim-extralarge;
    }
    @media (max-width: 700px) {
        padding: 130px $dim-large 0 $dim-large;
        gap: $dim-extralarge;
    }
}

#landing-page-introduction{
    flex-grow: 2;
    @include flex($jc: space-between);

    @media (max-width: 1250px){
        @include flex($fd: column, $jc: space-evenly, $g: $dim-large);
    }
}


#landing-page-wrapper-profile-img{
    @include flex();
    width: 600px;
    background-image: url(./../../assets/images/profile/hero_photo_background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:left 50% top 50%;
    background-size: contain;
    >#landing-page-profile-img{
        max-width: 90%;
        max-height: calc((100vh - 300px) * 0.9);
        z-index: 2;
    }
    @media (max-width:1250px){
        width: 450px;
    }
}


#landing-page-wrapper-introduction-text{
    margin-left: -150px;
    @include flex($fd:column, $g: $dim-large);
    z-index: 2;
    @media (max-width: 1250px){
        margin-left: 0;
    }
}

#landing-page-wrapper-text{
    @include flex();
    >span{
        font-size: $fnt-size-64;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        @media (max-width:1400px){
            font-size: 3rem;
        }
        @media (max-width:700px){
            font-size: 1.6rem;
        }
    }
    >div{
        @include flex($fd: column, $g: 0);
        >#landing-page-name{
            font-size: $fnt-size-90;
            font-weight: bold;
            line-height: 105%;
        }
        >#landing-page-developer{
            font-size: 3.6rem;
            color: $sec-color-purple;
            line-height: 105%;
        }

        @media (max-width:1400px){
            >#landing-page-name{
                font-size: 4.5rem;
            }
            >#landing-page-developer{
                font-size: 2.9rem;
            }
        }
        @media (max-width:700px){
            >#landing-page-name{
                font-size: 2.5rem;
            }
            >#landing-page-developer{
                font-size: 1.6rem;
            }
        }
    }
    @media (max-width:1400px){
        gap: 0;
    }
}


#landing-page-footer{
    @include flex($jc: space-between, $ai: flex-end);
    font-size: $fnt-size-23;
    z-index: 2;
}

#landing-page-contact{
    @include flex($g: 42px);
    margin-bottom: $dim-large;
    margin-left: -$dim-hompage-side;
    >#vertical-line{
        @include verticalLine($clr: $sec-color-purple,$br:right);
    }
    @media (max-width: 1250px) {
        margin-left: -$dim-extralarge;
    }
}

#landing-page-scroll-down-navigation{
    @include flex($fd: column);
    cursor: default;
    >span{
        writing-mode: vertical-lr;
    }
}

#bg-img-transition{
    position: absolute;
    width: min(100vw, $dim-max-content-size);
    top: calc(700px * (100vh / 1000px) - 0.3 * min(100vw, $dim-max-content-size) );
    left: 0;
    z-index:0;
    @media (max-width:1250px) {
        top: calc(550px * (100vh / 1000px) - 0.3 * 100vw );
    }
}

#bg-img-purple-1{
    position: absolute;
    width: 800px;
    top: calc(100vh - 200px);
    right: -500px;
}