@import 'app/shared/styles/globelStyles.scss';

/* fonts */
@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}


/* common style */
body{
    margin: 0;
    font-size: $fnt-size-16-default;
    font-family: 'Poppins';
    color: $txt-color-white;
}

/* links */
.link{
    text-decoration: none;
    cursor: pointer;
    color: $txt-color-white;
}

/* buttons */
.btn{
    cursor: pointer;
    border: none;
    padding: $dim-medium $dim-large;
    border-radius: 10px;
    color: $txt-color-white;
    font-size: $fnt-size-23;
}

.prim-btn{
    background-color: $prim-color-green;
    &:hover{
        background-color: $sec-color-purple;
        transform: scale(1.15);
        @include hoverTransition();
    }
}