@import 'app/shared/styles/globelStyles.scss';

/* fonts */
@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* common style */
body{
    @include flex($fd: column);
    margin: 0;
    font-size: $fnt-size-16-default;
    font-family: 'Poppins';
    color: $txt-color-white;
    background-color: $bg-color-dark;
    overflow-x: hidden;
}

h2{
    margin: 0;
    font-size: $fnt-size-90;
    @media (max-width:700px){
        font-size: $fnt-size-45;
    }
}

h3{
    font-size: $fnt-size-32;
    margin: 0;
}

// headline offset
.offset{
    position: absolute;
    top: -130px;
    width: 100px;
    height: 130px;
}

/*scroll-bar*/
/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 5px !important;
}

*::-webkit-scrollbar-track {
    background: $disabled-color-grey;
}

*::-webkit-scrollbar-thumb {
    background-color: $prim-color-green;
    border-radius: 10px;
    border: 3px solid #ffffff00;
}

*::-webkit-scrollbar-button{
    display: none;
}
@-moz-document url-prefix(){
    * {
        scrollbar-width: thin;
        scrollbar-color: $prim-color-green $disabled-color-grey;
    }
}


/* links */
.link{
    text-decoration: none;
    cursor: pointer;
    color: $txt-color-white;
}

/* buttons */
.btn{
    cursor: pointer;
    border: none;
    padding: $dim-medium $dim-large;
    border-radius: 10px;
    color: $txt-color-white;
    font-size: $fnt-size-23;
}

.prim-btn{
    background-color: $prim-color-green;
    &:hover{
        background-color: $sec-color-purple;
        transform: scale(1.15);
        @include hoverTransition();
    }
}

.sec-btn{
    background-color: $sec-color-purple;
    &:hover{
        background-color: $prim-color-green;
        @include hoverTransition();
    }
}

.ghost-btn{
    background-color: $bg-color-dark;
    border: 1px solid $prim-color-green;
    &:hover{
        background-color: $prim-color-green;
        @include hoverTransition();
    }
}


.btn-disabled{
    background-color: $disabled-color-grey;
    cursor: default;
}



// customize checkbox
.custom-checkbox{
    position: relative;
    border: 1px solid $prim-color-green;
    border-radius: 3px;
    width: 20px;
    aspect-ratio: 1;
    margin-top: 3px;
    &:hover{
        background-color: $disabled-color-grey;
    }
    >input{
        opacity: 0;
        @extend .center-pos-absolute;
        width: 24px;
        aspect-ratio: 1;
        cursor: pointer;
        margin: 0;
    }
    &:has(input:checked)::before{
        content: "";
        @extend .center-pos-absolute;
        top: 40%;
        transform: translate(-50%,-50%) rotate(-45deg) scale(1);
        width: 8px;
        aspect-ratio: 2;
        border: solid $prim-color-green;
        border-width: 0 0 2px 2px;
        opacity: 1;
        transition: all $hover-transition-time ease-in-out;
    }
    &:has(input:not(:checked))::before{
        content: "";
        @extend .center-pos-absolute;
        top: 40%;
        transform: translate(-50%,-50%) rotate(-45deg) scale(0);
        width: 8px;
        aspect-ratio: 2;
        border: solid $prim-color-green;
        border-width: 0 0 2px 2px;
        opacity: 0;
        transition: all $hover-transition-time ease-in-out;
    }
}

// responsive design

@media (max-width: 1250px){
    .hide-mobile{
        display: none !important;
    }
}

@media (min-width: 1250px){
    .hide-desktop{
        display: none !important;
    }
}