@import './../../shared/styles/globelStyles.scss';

.skill-wrapper{
    position: relative;
    @include flex($fd: column, $g: 10px);
    width: 70px;
    z-index: 2;
    >img {
        width: 60px;
        @media (max-width:1400px){
            width: 40px;
        }
    }
    >span{
        text-align: center;
    }
    &:hover{
        >img{
            animation: hoverSkill 300ms linear infinite alternate;
        }
    }
}

@keyframes hoverSkill{
    0% {transform: translate(0,0)}
    50% {transform: translate(0,- $dim-medium)}
    100% {transform: translate(0,- $dim-medium)}
}